*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', 'sans-serif'; */
    font-family:monospace;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/gradient-bg.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
} 
.game-info{
    color: #fff;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 3rem;
    text-align: center;
}
.tic-tac-toe{
    width: 90%;
    max-width: 23rem;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 2rem;
    display: grid;
    border-radius: 1rem;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
}

.box{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bx1 , .bx2, .bx4, .bx5{
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.bx3 , .bx6{
    border-bottom: 2px solid #fff;
}
.bx7  , .bx8{
    border-right: 2px solid #fff;
}

.btn{
    color: #fff;
    position: absolute;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    bottom: 10rem;
    text-align: center;
    transform: translateX(-50%);
    padding: 0.5rem 3rem;
    cursor: pointer;
    display: none;
}

.btn.active{
    display: flex;
}
.win{
    background-color: rgba(0, 255, 0, 0.402);
}
